<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<form name="f" method="post" action="/process_login">
<!--  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
  <label for="username">Enter username: </label>
  <input type="text" name="username" id="username" />
  <br/>
  <label for="password">Enter password: </label>
  <input type="password" name="password" id="password" />
  <br/>
  <input type="submit" value="Login" />

  <div th:if="${param.error}" style="color: deeppink">
    Invalid username or password
  </div>

</form>
</body>
</html>