<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"s
      lang="en"
      style="height: 100%">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Users</title>
</head>
<body style="background-color: #f8f9fa ; height: 100%">
<nav style="color: white" class="navbar navbar-dark bg-dark">
    <span id="span"></span>
    <form class="form-inline">
        <a style="color: grey" th:href="@{/}" class="auth-button right-top-button">LOGOUT</a>
    </form>
</nav>

<div class="container-fluid h-100 d-flex">

    <div class="row w-100 h-100">

        <div class="col-sm-10">
            <h1 id="hhh">User information-page</h1>

            <div style="background-color: white; border: 1px solid #ccc;border-radius: 5px;" class="tab-content">
                <div id="userstable" class="tab-pane fade show active">

                    <nav  class="navbar navbar-light bg-light">
                        <span class="navbar-brand mb-0 h1">About user</span>
                    </nav>
                    <div class="container-fluid mt-3 mb-3">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Username</th>
                                <th scope="col">age</th>
                                <th scope="col">role</th>
                            </tr>
                            </thead>
                            <tbody id = "tableBody">
                            <tr th:object="${user}">
                                <td th:text="*{id}"></td>
                                <td th:text="*{username}"></td>
                                <td th:text="*{age}"></td>
                                <td>
                                    <ul>
                                        <li th:each="role : *{role}" th:text="${role.role}"></li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>